body {
  margin: 0;
}

/*************
Common things
*************/
.sectionTitle { /*All titles*/
  margin-top: 0;
  padding-top: 80px;
  text-align: center;
  font-size: 60px;
  font-family: "Courier New", Courier, monospace;
  color:#fff;
}
.sectionTitle a{
  color: white;
}
label{ /*All labels*/
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  margin-left: 10%;
}
textarea { /*All textareas*/
  border-color: #e7e7e7;
  border-radius: 4px;
  resize: none;
  margin-left: 10%;
  height: 70px;
  width: 80%;
  font-size: 10pt;
}
button { /*All buttons, encipher and decipher*/
  height: 38px;
  padding: 0 30px;
  font-size: 15px;
  line-height: 38px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #e7e7e7;
  border: 2px solid #e7e7e7;
  font-family: 'Courier New';
  margin-left: 10%;
}
button:hover{ background-color: Transparent; }
#btnPink, #btnPink1 { color: #ee8687; }
#btnPink:hover, #btnPink1:hover{ color: white; }
#btnMorse, #btnMorse1 { color: #52658f; }
#btnMorse:hover, #btnMorse1:hover{ color: white; }
#btnBinary, #btnBinary1 { color: #89B375; }
#btnBinary:hover, #btnBinary1:hover{ color: white; }
#btnAtbash, #btnAtbash1 { color: #F19F67; }
#btnAtbash:hover, #btnAtbash1:hover{ color: white; }

.letter_shifts { /*Caesar shifts textbox*/
  text-align: center;
  margin-left: -10%;
}
#amount {
  width: 30px;
  font-size: 10pt;
  border-radius: 4px;
}
center {   /*texts explaining ciphers*/
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  margin: 0 10% 0 10%;
}
.left_side {
  float: left;
  width: 50%;
}
.right_side {
  float: right;
  width: 50%;
}


/*************
   HOMEPAGE
*************/
/*Morse Image background*/
#morseimg {
  background-image: url("morse.jpg");
  height: 466px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#homepage {
  margin-top: 0;
  padding-top: 80px;
}
#mainTitle {
  font-family: 'Amatic SC';
  font-size: 100px;
  color: #fff;
  background-color: #BFD8D2;
  font-weight: 100;
  text-align:center;
  -webkit-transition: color 2s, font-size 2s;
  -moz-transition: color 2s, font-size 2s;
  -o-transition: color 2s, font-size 2s;
  transition: color 2s, font-size 2s;
}
#author{
  color: #fff;
  text-align: center;
  font-family: "Amatic SC";
  font-size: 30px;
  font-weight: lighter;
}


/*************
Navigation Bar
*************/
#nav{
  height: 70px;
  background: #BFD8D2;
}
#nav ul{
  margin: 0;
  list-style: none;
}
#nav li{
  font-family: 'Amatic SC';
  font-size: 25px;
  float: left;
  width: 20%;
}
#nav a {
  padding: 19px 25px;
  text-decoration: none;
  display: inline-block;
  color: grey;
}
#nav a:hover{
  background-color: #75A8B3;
  color: white;
}

/*************
COLOUR BLOCKS
*************/
.block {
  height: 550px;
}
#caesarblock {
  background-color: #ee8687;
}
#morseblock {
  background-color: #52658f;
}
#binaryblock {
  background-color: #89B375;
}
#atbashblock {
  background-color: #F19F67;
}
#aboutmeblock {
  background-color: lightgrey;
}


.voice {
  width: 20px;
  margin-left: 5%;
}

#sound {
  width: 20px;
  padding-left: 20px;
}

#morseMessage {
  padding: 3px;
  display: none;
  margin-left: 30%;
  font-family: 'Courier New';
  font-size: 14px;
  color: white;
}
#sound:hover + #morseMessage {
  display: block;
}

.social_media {
  margin: 0 60px 0 60px;
  text-align: center;
}
.social_media img {
  width: 20%;
  display: inline-block;
  margin: 0 1% 0 1%;
}


/*Picture of me at the end*/
#mariaphoto {
  height: 220px;
}

p { /*text about me*/
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin-left: 30%;
  padding: 10px;
}

.footer {
  color: grey;
  text-align: center;
}
