header  {
  background-color:#fff;
}

body {
  margin: 0;
}

#title {
  font-family: "Courier New", Courier, monospace;
  color: #D41E46;
}

/*navigation bar*/
#nav{
  height: 70px;
  background: #BFD8D2;
}

#nav a {
  background-color: #BFD8D2;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: black;
}

#nav a:hover{
  background-color: #75A8B3;
  color: white;
}

.redblock {
  height: 550px;
  background-color: #ee8687;
  position: relative;
}

#morseblock {
  height: 550px;
  background-color: #52658f;
  position: relative;
}

#binaryblock {
  height: 550px;
  background-color: #89B375;
  position: relative;
}

#nav ul{
  padding-top: 15px ;
  margin: 0;
}

#nav li{
  list-style: none;
  padding-left: 3%;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 13px;
  float: left;
}

/*Morse Image background*/
#morseimg {
  background-image: url("morse.jpg");
  height: 466px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#homepage {
  margin-top: 0;
  padding-top: 80px;
}

#ciphers {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 70px;
  color: #fff;
  font-weight: 100;
}

#ciphers:hover{
  color: #BFD8D2;
}

/*my picture in About me*/
#maria{
  color: #fff;
  text-align: center;
  font-family: "Century Gothic";
  font-size: 20px;
  font-weight: lighter;
}

#caesartitle {
  margin-top: 0;
  padding-top: 80px;
  text-align: center;
  font-size: 60px;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  color:#fff;
  text-align:center
}

label{
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  margin-left: 10%;
}

.txtBox {
  margin-left: 10%;
  height: 70px;
  width: 80%;
  font-size: 10pt;
}

.letter_shifts {
  text-align: center;
  margin-left: -10%;
}

#amount {
  width: 30px;
  font-size: 10pt;
}

.btnTranslate {
  margin-left: 10%;
}

center {
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  margin: 0 10% 0 10%;
}

.left_side {
  float: left;
  width: 50%;
}

.right_side {
  float: right;
  width: 50%;
}

#caesar_decipher {
  margin-left: 10%;
}

#morsetitle {
  margin-top: 0;
  padding-top: 80px;
  text-align: center;
  font-size: 60px;
  font-family: "Courier New", Courier, monospace;
}

#binarytitle {
  margin-top: 0;
  padding-top: 80px;
  text-align: center;
  font-size: 60px;
  font-family: "Courier New", Courier, monospace;
}

#atbashtitle {
  margin-top: 0;
  padding-top: 80px;
  text-align: center;
  font-size: 60px;
  font-family: "Courier New", Courier, monospace;
}

#aboutmeblock {
  height: 550px;
  background-color: lightgrey;
  position: relative;
}

#atbashblock {
  height: 550px;
  background-color: #F19F67;
  position: relative;
}

#aboutmetitle {
  margin-top: 0;
  padding-top: 80px;
  text-align: center;
  font-size: 60px;
  font-family: "Courier New", Courier, monospace;
}

#mariaphoto {
  height: 250px;
  float: center;
}

p {
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin-left: 30%;
}

#sound {
  width: 20px;
  padding-left: 20px;
}

#morseMessage {
  background-color: white;
  padding: 3px;
  width: 140px;
  display: none;
  margin-left: 30%;
  font-family: 'Arial';
  font-size: 14px;
  color: #7884B7;
}

#sound:hover + #morseMessage {
  display: block;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background-color: grey;
  height: 50px;
  width: 180px;
  vertical-align: middle;
}

.social_media img {
  height: 40px;
  padding-left: 20px;
  padding-top: 100px;
  float: left;
}
